# 官方文档：https://clang.llvm.org/extra/clang-tidy/checks/list.html
# clang-tidy版本：>= 14

Checks: '-*,bugprone-*,cert-*,clang-analyzer-*,hicpp-*,modernize-*,performance-*,portability-*,readability-*,-modernize-use-trailing-return-type'

# CheckOptions:
#   - key:             cert-dcl16-c.NewSuffixes
#     value:           'L;LL;LU;LLU'
